body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tournament-link {
  font-weight: bold;
  text-decoration: none;
}
input:disabled {
  color: #333;
  border-color: #333;
}
input.form-control {
  background-color: #181818;
}
div.paddedLikeInput {
  padding: .375rem .75rem
}
.roundRow {
  border-bottom: #375a7f dotted 1px;
}
.col-r-border {
  border-right: #375a7f dotted 1px;
}
.roundVerified {
  background-color: #203040
}
.roundConflict {
  background-color: #402030
}
.roundWin {
  background-color: #204030
}
.roundLoss {
  background-color: #402030
}